<h4><center>Your post</center></h4>
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Delete post", post_path(@post), method: :delete, data: {confirm: "Are you crazy? This post will be destroy!!!"}, :class => 'btn btn-danger' %>
